*{
    margin: 0;
   padding: 0;
}
.app-wrap{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.green {
   margin: 30px;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 20px;
    width: 100px;
    border: none;
    transition: all 0.3s ease;
}

.green:hover{
  background-color: lightgreen;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.339);
  transform: scale(1.1);
}
.yellow {
   background-color: yellow;
    color: white;
    border-radius: 5px;
    padding: 20px;
    width: 100px;
    border: none; 
    transition: all 0.3s ease;
}

.yellow:hover {
    background-color: #fff5ba; 
    color: black; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    transform: scale(1.1); }